[submodule "GBEngine/ThirdParty/imgui"]
	path = GBEngine/ThirdParty/imgui
	url = https://github.com/TrashCoder94/imgui.git
	branch = docking
[submodule "GBEngine/ThirdParty/spdlog"]
	path = GBEngine/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog.git
